<!-- Contact Section at the Bottom -->
<div class="w3-row-padding w3-black w3-opacity w3-padding-64 w3-container" id="contact">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Contact Us!</h1>
        <h5 class="w3-padding-32">Have any questions, comments, or concerns? Please feel free to contact us!</h5>
  
        <p class="w3-text-white">Trinity College Contact Information:
          PI — Professor Ewa Syta 
          <p><a href="mailto:MobyPhish@trincoll.edu">MobyPhish@trincoll.edu</a></p>
        </p>
        <p class="w3-text-white">University of Connecticut Contact Information:
          PI — Professor Amir Herzberg 
          <p><a href="mailto:mobyPhish@uconn.edu">mobyPhish@uconn.edu</a></p>
        </p>
  
        <p class="w3-text-grey">No question, comment, or concern is too small!</p>
      </div>
      <div class="w3-third w3-center">
        <img src="{{ mail }}" alt="Mail Image" width="200" height="100">
      </div>
    </div>
</div>

</body>
</html>
