{% include 'base.html' %}

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h2 class="w3-center"><strong>Welcome to MobyPhish!</strong></h2>

    <h5>The MobyPhish extension is a project created by a team from UCONN and Trinity College, with the purpose of helping you stay safe from phishing attacks while browsing online.</h5>

    <h6>
      Phishing is a growing threat, and it can compromise your personal information, leading to breaches in privacy, identity theft, and monetary loss. That's why we developed MobyPhish— a browser extension designed to boost your awareness and skills when it comes to spotting these kinds of attacks. With MobyPhish, we hope you'll learn how to protect yourself and make smarter, safer choices online.
    </h6>

    <h6>Our project's goal is to make cybersecurity simple and accessible. MobyPhish guides you through easy-to-understand, test-based training as you browse, helping you recognize and avoid potential threats. As part of the project, we are conducting a usability study, so we can evaluate the effectiveness of MobyPhish. By participating in our usability study, you'll get to try out MobyPhish for yourself. Your experience and feedback will help us understand how effective the tool is and where we can make improvements.</h6>

    <h6>We encourage you to explore our site to learn more about MobyPhish, take part in our usability study, and discover how you can browse the web with greater confidence. Thank you for joining us on this mission to make the internet a safer place for everyone.</h6>

  </div>
</div>



{% include 'contact.html' %}
  
