{% include 'base.html' %}
{% block content %}

<div class="w3-row-padding w3-container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="w3-content" style="width: 75%;">
    <!-- <div class="w3-twothird w3-center"> -->
      <h1>Get Started: MobyPhish Extension</h1>
      <p class="w3-text-grey">To download the extension please go through and agree to the terms of service.</p>
      <iframe src="https://trinity.az1.qualtrics.com/jfe/form/SV_3W4ReSmlrPskltc" 
      style="display: block; margin: 0 auto; width: 60%; height:400px ;">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.
      </iframe>
    <!-- </div> -->
  </div>
</div>

{% endblock %}
{% include 'contact.html' %}
