{% include 'base.html' %}
{% block content %}

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-center">
  <div class="w3-content">
    
      <h1>Get Started: MobyPhish Usability Study</h1>
      <h5 class="w3-padding-32">Welcome to the MobyPhish usability study! As part of this research project, we’ve developed the browser extension “MobyPhish” to enhance your cybersecurity awareness and skills, specifically related to Public Key Infrastructure (PKI) vulnerabilities.
      </h5>
      <h5 class="w3-padding-32">Start by watching Part 1 of the presentation. This will lead you to the consent form and pre-study survey.</h5>
      <iframe src="https://1drv.ms/p/c/608044cfc8a3be81/IQPg5qFe-N9LSZVZLn_mkN03AWv6J0u9KOVkmz85XZ7Sskw?em=2&amp;wdAr=1.7777777777777777" width="80%" height="400px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container w3-center">
  <div class="w3-content">

      <h5 class="w3-padding-32">After completing the survey, return to watch Part 2 of the presentation.</h5>
      <iframe src="https://1drv.ms/p/c/608044cfc8a3be81/IQMl69HG78fAQrMBkCOdYp2xAX2cwk-S2_6mV_WlJ1MdX5M?em=2&amp;wdAr=1.7777777777777777" width="80%" height="400px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-center">
  <div class="w3-content">

      <h5 class="w3-padding-32">Finish by watching Part 3 of the presentation. This will lead you to the post-study survey.</h5>
      <iframe src="https://1drv.ms/p/c/608044cfc8a3be81/IQM69Cl3nsCTRoZzy8lDIp-OAd6VRiwcrKgVy0ReoZyn39I?em=2&amp;wdAr=1.7777777777777777" width="80%" height="400px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

  </div>
</div>

</body>
</html>

{% endblock %}
{% include 'contact.html' %}
  
