{% include 'base.html' %}
{% block content %}

<div class="w3-row-padding w3-padding-64 w3-container w3-center">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Get Started: MobyPhish Extension</h1>

      <p class="w3-text-grey">To download the extension please go through and agree to the terms of service.</p>
      <iframe src="https://trinity.az1.qualtrics.com/jfe/form/SV_3W4ReSmlrPskltc" width="100%" height="400px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>
  </div>
</div>

{% endblock %}
{% include 'contact.html' %}
